{% extends "page.html" %}

{% set pkg = pkg_dict %}
{% set dataset_type = dataset_type or pkg.type or 'dataset' %}

{% block breadcrumb_content_selected %} class="active"{% endblock %}

{% block subtitle %}{{ _('Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), named_route=dataset_type ~ '.search' %}</li>
  {% if pkg %}
    <li{{ self.breadcrumb_content_selected() }}>{% link_for pkg.title|truncate(75), named_route=pkg.type ~ '.read', id=pkg.name, title=dataset %}</li>
  {% else %}
    <li class="active"><a href="">{{ _('Create Dataset.') }}</a></li>
  {% endif %}
{% endblock %}
