{% set stats = h.get_site_statistics() %}

<div class="module-stats">
  <div class="box card-body">
    <h3>{{ _('{0} statistics').format(g.site_title) }}</h3>
    <ul>
      {% block stats_group %}
      <li>
        <a href="{{ h.url_for('group.index') }}">
          <strong class="count">{{ ungettext('{num} organization', '{num} groups', stats.group_count).format(num=stats.group_count) }}</strong>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('organization.index') }}">
          <strong class="count">{{ ungettext('{num} group', '{num} organizations', stats.organization_count).format(num=stats.organization_count) }}</strong>
        </a>
      </li>
      <li>
        <a href="{{ h.url_for('dataset.search') }}">
          <strong class="count">{{ ungettext('{num} dataset', '{num} dataset', stats.dataset_count).format(num=stats.dataset_count) }}</strong>
        </a>
      </li>
      {% endblock %}
    </ul>
  </div>
</div>
